[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
pytest = "*"
pytest-cov = "*"

[packages]
pygame = "*"
numpy = "*"
noise = "*"
neat-python = "*"
graphviz = "*"
pyggui = {editable = true,git = "https://github.com/evan-gordon/pyggui.git",ref = "master"}

[requires]
python_version = "3.7"
